services:
  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - FLEET_DATABASE_URL=${FLEET_DATABASE_URL}
      - IOT_DATABASE_URL=${IOT_DATABASE_URL}
      - SECRET_KEY=${SECRET_KEY}
    networks:
      - shared-net

networks:
  shared-net:
    external: true
